ul {
	list-style-type: none;
	text-decoration: underline;	
}

p {
	text-decoration: none;
}

.night {
	background-color: black;
	color: #DADCE3;
}

body {
	background-color: #EBECF0;
	color: black;
}

.main {
	position: absolute;
	left: 30em;
	top: 10em;
	right: 0;
	bottom: 0;
}

.newMovie {
	position: center;
}

.reviews {
	postion: center;
}

.title {
	text-align: center;
}

.create {
	text-align: center;
}

.line-seperator {
	border-bottom: 2px solid gray;
	padding-top: 3px; 
}
