ul {
	list-style-type: none;
	text-decoration: underline;	
}

p {
	text-decoration: none;
}

.night {

	background-color: black;
	color: #DADCE3;
}

body {
	background-color: #EBECF0;
	color: black;
}

.newMovie {
	position: center;
}

.title {
	text-align: center;
}

.create {
	text-align: center;
}

.line-seperator {
	border-bottom: 2px solid gray;
	padding-top: 3px; 
}
